.form-group{
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.btn{
    margin-top: 10px;
}
.mt-2{
    margin-top: 10px;
    background-color: rgb(43, 201, 96);
}